* {
  font-family: 'Roboto', sans-serif;
}

#title {
  display: block;
  width: 74;
  height: 37;
  direction: ltr;
  font-size: 14px;
  line-height: 1.4286;
}

#outer-body {
  display: flex;
  justify-content: center;
}

#border {
  border-style: solid;
  border-width: 1px;
}